@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
.body {
  background-color: black;
}
.pos-sticky {
  position: sticky;
  top: 0;
  background-color: black;
}
.row {
  box-shadow: -5px -3px 10px #8bb9e5, 5px 3px 10px #a9e3ff;
  padding: 5px 20px;
}
.span {
  color: rgb(0, 228, 249);
  font-family: serif;
  font-weight: bold;
  font-size: 47px;
}
.bi {
  margin-right: 5px;
}
.blue-link {
  color: rgb(55, 255, 0);
  font-weight: bold;
  font-size: 25px;
  font-family: serif;
  margin-right: 10px;
}
.blue-link:hover {
  color: rgb(55, 255, 0);
}
.blue-link1 {
  color: rgb(55, 255, 0);
  font-weight: bold;
  font-size: 29px;
  padding: 2px;
  font-family: serif;
}
.index {
  color: rgb(55, 255, 0);
  font-size: 45px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.index:hover {
  color: hotpink;
  font-weight: bolder;
}
.text-padding {
  width: 900px;
}
.img-fluid {
  height: 500px;
  width: 700px;
  object-fit: fill;
  border-radius: 15px;
}
.about-flex {
  display: flex;
  padding: 40px;
  justify-content: space-between;
  align-items: center;
  margin: 5px 50px;
  box-shadow: -5px -3px 10px #8bb9e5, 5px 3px 10px #a9e3ff;
}
.child-2 {
  color: white;
  text-align: center;
}
.btn {
  margin-top: 30px;
  border: none;
  font-weight: bolder;
  color: black;
  margin-left: 80px;
  margin-bottom: 20px;
  padding: 5px 20px;
  border-radius: 15px;
  background: #fdfeff;
  box-shadow: -5px -3px 10px #8bb9e5, 5px 3px 10px #a9e3ff;
}
.btn:hover {
  color: white;
  background: black;
  box-shadow: -5px -3px 10px #e3e8ec, 5px 3px 10px #fafbfc;
}
/* footer */
.contact-container {
  display: flex;
  justify-content: space-between;
  padding: 5px 150px;
}
.foot-links {
  text-decoration: none;
  font-size: 30px;
  color: #b2adad;
}
.foot-links:hover {
  text-decoration: underline;
  font-size: 30px;
  color: whitesmoke;
}
footer {
  background-color: rgb(20, 17, 17);
  box-shadow: -5px -3px 5px #b1d1ee, 5px 3px 5px #b1d1ee;
}
.social-icons {
  padding: 5px 500px;
  display: flex;
  justify-content: space-between;
}
/* cat */
.reviews {
  box-shadow: -5px -3px 5px #c6fffb, 5px 3px 5px #c6fffb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: scroll;
  padding: 20px 20px;
  height: 600px;
}
.reviews::-webkit-scrollbar {
  display: none;
}
.ratings {
  color: white;
  box-shadow: -5px -3px 5px #66fcf1, 5px 3px 5px #66fcf1;
  margin: 25px;
  padding: 0px 15px;
  height: 510px;
  border-radius: 12px;
}
.dp-flex {
  display: flex;
  align-items: center;
  width: 300px;
  margin: 40px 0px;
}
.source-dp {
  width: 100%;
  height: 250px;
  margin-top: -20px;
  border-radius: 10px;
  object-fit:fill;
  background-color: burlywood;
}
/* icons */
.icons {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  font-size: 25px;
}
.bi-suit-heart-fill {
  color: red;
  margin-right: -20px;
}
/* contact */
.contact-container {
  display: flex;
  justify-content: space-between;
  padding: 5px 150px;
}
.foot-links {
  text-decoration: none;
  font-size: 30px;
  color: #b2adad;
}
.foot-links:hover {
  text-decoration: underline;
  font-size: 30px;
  color: whitesmoke;
}
footer {
  background-color: rgb(20, 17, 17);
  box-shadow: -5px -3px 5px #b1d1ee, 5px 3px 5px #b1d1ee;
}
.social-icons {
  padding: 5px 500px;
  display: flex;
  justify-content: space-between;
}
.dp-pic {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  object-fit: cover;
}
